{% extends "base.html" %}

{% block title %}Movies || {{ block.super }}{% endblock title %}

{% block content %}
<h1>Movies</h1>
<ul>
{% for movie in movies_list %}
    <li>{{ movie }}</li>
    Genre: {{ movie.genre }}, Country: {{ movie.country }}, <a href="{{ movie.csfd }}">CSFD</a>, <a href="{{ movie.imdb }}">IMDB</a>
{% endfor %}
</ul>
<ul>
    <a href="/movies/genre/comedy/">Comedy</a>
    <a href="/movies/genre/thriller/">Thriller</a>
    <a href="/movies/genre/drama/">Drama</a>
</ul>

{% endblock %}