{% extends "base.html" %}

{% block title %}Movies || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="movies-sidebar">
        {% include "snippets/movie_sidebar.html" %}
    </div>

    <div class="movie">
    <h2>{{ object.title_en }} <small><a href="{% url 'movies:create' %}">Add a movie</a></small></h2>
    <p>last update {{ object.updated|timesince }} ago</p>

    <ul>
        <li>English title: {{ object.title_en }}</li>
        <li>Original title: {{ object.title_origin }}</li>
        <li>Czech title: {{ object.title_cs }}</li>
        <li>Lenght: {{ object.length }}</li>
        <li>Country: {{ object.country }}</li>
        <li>Director: {{ object.director }}</li>
        <li>Genre: {{ object.genre }}</li>
        <li>Release Year: {{ object.release_year }}</li>
        <li><a href="{{ object.csfd }}">CSFD</a>/ <a href="{{ object.imdb }}">IMDB</a></li>
    </ul>
    </div>

{% endblock %}