{% extends "base.html" %}

{% block title %}Movies || {{ block.super }}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Movies</li>
{% endblock %}

{% block content %}
        {% include "snippets/movie_sidebar.html" %}

    <h2>Movies<small><a href="{% url 'movies:create' %}">Add a movie</a></small></h2>
    <ul>
    {% for movie in movie_list %}
        <li><a href="{{ movie.get_absolute_url }}">{{ movie }}</a></li>
        genre: {% for genre in movie.genre.all %} {{ genre }} {% endfor %}

    {% endfor %}
    </ul>

{% endblock %}