{% extends "base.html" %}

{% block title %}Movies || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="">
        {% include "snippets/movie_sidebar.html" %}
    </div>

    <div class="">
        <a href="{% url 'movies:create' %}">Add a movie</a><br/>
    </div>

    <h1>{{ object.title_en }} <small>({{ object.release_year }}) <a href="{{ object.csfd }}">CSFD</a>/ <a href="{{ object.imdb }}">IMDB</a></small></h1>

    <ul>
        <li>English title: {{ object.title_en }}</li>
        <li>Original title: {{ object.title_origin }}</li>
        <li>Czech title: {{ object.title_cs }}</li>
        <li>Lenght: {{ object.length }}</li>
        <li>Country: {{ object.country }}</li>
        <li>Director: {{ object.director }}</li>
        <li>Genre: {{ object.genre }}</li><br/>
        <li>Last update {{ object.updated|timesince }} ago</li>
    </ul>

{% endblock %}