* { box-sizing: border-box; }

.header {
    color: limegreen;
    font-family: sans-serif;
    background-color: #f2f2f2;
    margin: 0 0 0 0;
}
.navigation {
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    border-left: 2px solid royalblue;
    border-right: 2px solid royalblue;
    background-color: #f2f2f2;
    width: 50%;
    min-width: 100px;
    max-width: 300px;
    margin: 10px;
    position: relative;
    left: 40%;
}
.movies-sidebar {
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    background-color: #f2f2f2;
    width: 30%;
    min-width: 50px;
    max-width: 100px;
    margin: 0 0 0 0;
    position: relative;
    left: 25%;
    border-top: 2px solid royalblue;
}
.sidebar {
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 50%;
    min-width: 100px;
    max-width: 200px;
    margin: 0 0 0 0;
    border-top: 2px solid royalblue;
}
.movie {
    padding: 0 0 0 10px;
    border-radius: 5px;
    color: dodgerblue;
    font-family: sans-serif;
    font-style: italic;
    border: 2px solid royalblue;
    position: relative;
    left: 40%;
    margin: 0 0 0 0;
    width: 50%;
    min-width: 100px;
    max-width: 500px;
    background-color: #e6f2ff;
}

