{% extends "base.html" %}

{% block title %}Actors || {{ block.super }}{% endblock title %}


{% block content %}
    <div class="movies-sidebar">
        {% include "snippets/movie_sidebar.html" %}
    </div>
    <div class="movie">
    <h2>Actors<small><a href="{% url 'actors:create' %}">Add an actor</a></small></h2>
    <ul>
    {% for actor in actor_list %}
        <li><a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></li>
        {{ actor.sex }}
    {% endfor %}
    </ul>
    </div>


{% endblock %}