{% extends "base.html" %}

{% block title %}Actors || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="movies-sidebar">
        {% include "snippets/movie_sidebar.html" %}
    </div>
    <div class="movie">
    <h2>{{ object.name }}<small><a href="{% url 'actors:create' %}">Add an actor</a></small></h2>
    <p>last update {{ object.updated|timesince }} ago</p>

    <ul>
        <li>Sex:        {{ object.sex }}</li>
        <li>Born:       {{ object.born }}</li>
        <li>Died:       {{ object.died }}</li>
        <li>Country:    {{ object.country }}</li>
        <li>Movies:     {{ object.movie }}</li>
        <li><a href="{{ object.csfd }}">CSFD</a>/ <a href="{{ object.imdb }}">IMDB</a></li>
    </ul>
    </div>

{% endblock %}