{% extends "base.html" %}

{% block title %}Actors || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="">
        {% include "snippets/movie_sidebar.html" %}
    </div>

<h1>{{ object.name }}<small><a href="{% url 'actors:create' %}">Add an actor</a></small></h1>
    <p>last update {{ object.updated|timesince }} ago</p>

    <ul>
        <li>Movies:     {{ object.movie }}</li>
        <li>Born:       {{ object.born }}</li>
        <li>Died:       {{ object.died }}</li>
        <li>Sex:        {{ object.sex }}</li>
        <li>Country:    {{ object.country }}</li>
    </ul>

{% endblock %}