<!DOCTYPE html>
<html lang="en">
<head>
    {% include "snippets/css.html" %}
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead">Holly cat, page not found!</p>
          <img src="/static/pictures/404-page-not-found-good.jpg" class="pic_404" alt="404">
      </div>
    </div>

{% include "snippets/js.html" %}
</body>
</html>