<!DOCTYPE html>
<html lang=en>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/favicon/favicon.ico">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <title>{% block title %}tystar.cz{% endblock title %}</title>
</head>

<body>

    <div class="header">
        <h1>tystar.cz</h1>
    </div>

    <div class="navigation">
        {% include "snippets/navigation.html" %}
    </div>

    <div class="sidebar">
        {% include "snippets/sidebar.html" %}
    </div>

        {% block content %}
        {% endblock %}


</body>

</html>
