{% extends "base.html" %}


{% block title %}Contact || {{ block.super }}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Contact</li>
{% endblock %}

{% block content %}
    <div class="container">

        <a href="mailto:stepanka.lucinova@gmail.com">Mail me!</a>
        <a href="{% url 'pgp' %}">PGP Public Key</a>
        <a href="https://www.facebook.com/stepanka.stephanie">Facebook</a>
        <a href="https://www.linkedin.com/in/stepankalucinova/">LinkedIn</a>
        <a href="https://github.com/tystar86">GitHub</a>
        <a href="https://www.instagram.com/stepanka.stephanie/">Instagram</a>
    </div>

{% endblock %}