{% extends 'base.html' %}

{% block title %}PGP || {{ block.super }}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">PGP</li>
{% endblock %}

{% block content %}

    <h2>Public Key</h2>
    <p>-----BEGIN PGP PUBLIC KEY BLOCK-----<br/>
                                            </br>
        mQENBFnyRZoBCADDwJTze7q0Pof9oaShab9Oe3hdUvy1HLMEtTfPvoHsr34/7cGp<br/>
        xbM+kFx2oYGzhHQhVvp16Tmq9/LU+1ZrJt4/lkzO+Ap7YHLlGDZEuyuO0+bJ4c/E<br/>
        XRP32/t4saUxbEjlQRFqoS3eKAADEQ1HlPPMI4iB5H51LIXEAnYeWDwMlKjRErPb<br/>
        qH8cTCmaqltlACFDPGI/1pO4dsLj76/B+07JxiYfK8Lr4YpZhZrLhU7Btf/3SpcR<br/>
        4YP0Zvy0h1Fw/tV2KvTKOFw+ZDOrDISw3M95/pLl2UwU/0JBubQcrHmY8Vx0E+fN<br/>
        Qn+YyXmKmF4o+hPQi1+xFPioIdPz1hgg+G1XABEBAAG0L1N0ZXBhbmthIEx1Y2lu<br/>
        b3ZhIDxzdGVwYW5rYS5sdWNpbm92YUBnbWFpbC5jb20+iQFUBBMBCAA+FiEE4fib<br/>
        itbMtcqeWLEOJgtCiYJGeAoFAlnyRZoCGwMFCQPCZwAFCwkIBwIGFQgJCgsCBBYC<br/>
        AwECHgECF4AACgkQJgtCiYJGeAqljQgAnEfMd8QV4MEejKB2b4Nu+To1cQKdZLsq<br/>
        UhfuFNXYbYsld6zI51uvKkzlsz1vgwOWu2g6FfsZCeCM5Qm+hK3GqaB1KBpQWUCD<br/>
        xEm0kCsDrXcHDDpE5lC9FVPUpmD14drPbsmdqqeTFNL1JUsbEYED5FMgQ+JegMAK<br/>
        QN7aWAxoMQ85bw7sC6ne6iJM0yjclmTPru3u6cR276DaDtOHdOaaxjtbC5M5qC5G<br/>
        zaeOrG9QmGIhq7+6tNqyxQFXQEijGFxQEOddEADu27ptVCBB/NvvPBmQPp2W1Nt1<br/>
        gZOVFgoTYgTuKgpNdGFJLx9u4bHM9ytveRLhvKkwmco+G6wp8rfHvLkBDQRZ8kWa<br/>
        AQgAxmnIBC2egeYa/zWbE+ZBPKhB7X26mwN55U7C+yT9vw+3M44xrcIRucifUmdV<br/>
        5GR7qS/2hGuwzj3gFjQdjoxxLBxrhZymh4NvTR0KxY+4NqaylhNG8nA+OUxBngdy<br/>
        hVPnb+VJJ7OVGP1YX5w7kQ/2ot1XzuMjluchkLE481Mh1brKh8qHM18nLzUq540k<br/>
        GFgbxMrg28c6bDoGHqXr4Nky3uOEgvuZc0Fn0kyJvljF3rBxYdoGjpTYqxznyLP2<br/>
        ffmMleueLWUgNDv/sXi1p+uMl/Woj5FDpmnkq+fVIezJO8K58cxDjAm0iWccZjOn<br/>
        duO0zXUkRr94ENNSWodZh+tsfQARAQABiQE8BBgBCAAmFiEE4fibitbMtcqeWLEO<br/>
        JgtCiYJGeAoFAlnyRZoCGwwFCQPCZwAACgkQJgtCiYJGeAob1Qf9FhFb7M+28R2V<br/>
        03gEAW8X3FcE87Y35G0N50iPPrLsGoN/z9VhVUDkYv9tGd1hA1O1Woj2NFGB3u1d<br/>
        fq0WS60mRUa9P5il3NbZYU6QO7EvEGrZ3q7fnn/FRpCeE473AIPQ/Sl3/yuSuJZN<br/>
        XpnPVgJrCI8wKKADU5kA3igfE4a2g+/wxd6cteV0MsGIA8VjgnWzz9/KSXWgOlYu<br/>
        Wb7WOyrFAn+rQKToHX1itJJzhvstQ6UxqxbId21Asr8FcSRQBCOj9Gmrzn6I2lLh<br/>
        F60OyUkM7BcM5lHi9q4yQRGP1QEwXOLyhUwTFsmTexdQuD739pPUnJhWsIryNp/6<br/>
        tN8yUTldDQ==<br/>
        =KdOR<br/>
        -----END PGP PUBLIC KEY BLOCK-----<br/>
</p>

{% endblock %}